/* COLORS */

/* DISPLAY */

.header,
.experience {
    display: grid;
}

/* POSITIONING, SIZING */

.header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'title   title title'
                         'web     web   web'
                         'address phone email'
                         'obj     obj   obj';
}

    .header span {
        text-align: center;
    }

    .header span:nth-child(1) {
        grid-area: title;
    }

    .header span:nth-child(2) {
        grid-area: web;
    }

    .header span:nth-child(3) {
        grid-area: address;
    }

    .header span:nth-child(4) {
        grid-area: phone;
    }

    .header span:nth-child(5) {
        grid-area: email;
    }

    .header span:nth-child(6) {
        grid-area: obj;
    }

.experience {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'title  date'
                         'place  location'
                         'points points'
}

    .experience span:nth-child(1) {
        grid-area: title;
    }

    .experience span:nth-child(2) {
        grid-area: place;
    }

    .experience span:nth-child(3) {
        grid-area: location;
    }

    .experience span:nth-child(4) {
        grid-area: points;
    }

    .experience span:nth-child(5) {
        grid-area: date;
    }
