/* COLORS */

form {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: var(--border-rad);
}

    button,
    input,
    textarea {
        border-radius: var(--border-rad);
    }

    button {
        background-color: white;
        border: 1px solid black;
    }

    button:focus {
        border: 2px solid var(--accent);
    }

    input,
    textarea {
        padding: 0 0.15em;
        border: 1px solid black;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border: 2px solid var(--accent);
    }

/* DISPLAY */

section,
form {
    display: flex;
    flex-flow: column;
}

    form div{
        display: grid;
    }

/* POSITIONING, SIZING */

#interact {
    gap: 2em;
}

    #personal-form,
    #work-form,
    #education-form {
        gap: 1em;
    }

        form {
            gap: 0.5em;
            padding: 0.5em;
        }

            form div {
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr;
            }

                button,
                input,
                textarea {
                    height: 1.75em;
                }
                
                textarea {
                        resize: vertical;
                }

