/* TYPOGRAPHY */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* COLORS */

:root {
    --accent: #235DAC;
    --border-rad: 0.5em;
}

body {
    background-color: white;
    color: black;
}

    #interact,
    #display {
        border: 3px solid black;
        border-radius: var(--border-rad);
    }
        
    form {
        background-color: rgb(240, 240, 240);
        border: 1px solid black;
        border-radius: var(--border-rad);
    }

        button,
        input,
        textarea {
            border-radius: var(--border-rad);
        }

        button {
            background-color: white;
            border: 1px solid black;
        }

        button:focus {
            border: 2px solid var(--accent);
        }

        input,
        textarea {
            padding: 0 0.15em;
            border: 1px solid black;
        }

        input:focus,
        textarea:focus {
            outline: none;
            border: 2px solid var(--accent);
        }

/* DISPLAY */

#root,
form div{
    display: grid;
}

section,
form {
    display: flex;
    flex-flow: column;
}

/* POSITIONING, SIZING */

body {
    height: 100vh;
    width: 100vw;
}

    main {
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'interact display';
        column-gap: 1em;
        padding: 1em;
    }

        #interact,
        #display {
            height: inherit;
            overflow: auto;
            padding: 0.5em;
        }

        #interact {
            gap: 2em;
        }
    
            #personal,
            #work,
            #education {
                gap: 1em;
            }

                form {
                    gap: 0.5em;
                    padding: 0.5em;
                }

                    form div {
                        grid-template-columns: 1fr 2fr;
                        grid-template-rows: 1fr;
                    }

                        button,
                        input,
                        textarea {
                            height: 1.75em;
                        }
                        
                        textarea {
                                resize: vertical;
                        }
