body {
    background-color: black;
    color: grey;
}

#root,
form div:not(.item-container) {
    display: grid;
}

#root {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'interact display';
}

    .input-item {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
